*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.bar-main{
    float: right;
    margin: 3em;
}


#background{
    z-index: -10000;
}
.bouncy{
    text-decoration: none;
    color: rgb(136, 248, 248);
    font-weight: 650;
    padding: 1em;
    animation: bouncy 3s infinite linear;
    border: 1px rgb(240, 62, 62) solid;
    position: relative;
    }
    #btn1:hover,#btn2:hover,#btn3:hover,#btn4:hover{
       
        animation-delay: 1000s;
        background-color: rgba(160, 94, 94, 0.637);
    }
.avatar{
    z-index: 1000;
    position: absolute;

    left: 300px;
    top: 300px;
}
.avatar img{
    width: 250px;
    border-radius: 50%;
    border: 1px rgb(250, 114, 114) solid;
}
.avatar img:hover{
    box-shadow: 0 0 16px white;
}
.content{
    width: 600px;
    height: auto;
    position: absolute;
    color: aliceblue;
    right: 250px;
    bottom: 600px;
    font-weight: 800;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
}

#control_bar{
    position: absolute;
    left: 8%;
    bottom: -100px;
    transition: 1s;
    opacity: 0;
    color: aliceblue;
    font-weight: 700;
    

}

#audio_hie{
    width: 500px;
}

table{
    font-size: larger;
    text-overflow: ellipsis;
}
.horizon{
    position: absolute;
    width: 100%;
    box-shadow: 0 0 15px white;
}

.f1,.f2{
    position: relative;
    height: 100vh;
}
.f2{
    background-image: url('/wl-op-46s.jpg');
    background-attachment: fixed;
}
@keyframes bouncy {

    0%{top: 0em}
    40%{top:0em;background-color: rgba(240, 118, 118, 0.527);}
    43%{top: -0.9em;;background-color: rgba(138, 83, 83, 0.377);}
    46%{top: 0em;background-color: none;}
    48%{top: -0.4em; background-color: rgba(85, 0, 0, 0.685);}
    50%{top: 0em}
    100%{top: 0em;background: none;}
    }
/* scroll bar */

/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px grey; 
  
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(230, 79, 79); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #813434; 
  }
